# 🔐 ENV (IMPORTANT)
.env

# 🚫 Build folder
/target/

# 📦 Dependency cache
node_modules/

# 🧠 IDE / Editor
.vscode/
.idea/
*.iml

# 🪵 Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Java compiled files
*.class

# Temp files
*.tmp
*.temp